<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TO DO LIST</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" media ="screen and (max-width:768px)"href="mobile.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">